<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>Eat Da Burger</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row" id="eatBtn">
                {{#each burger_data}} {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre id="list">{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center" id="eatBtn">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn light-green darken-2 waves-effect waves-light">Eat It!</button>
                    </form>
                </div>
                <br> {{/unless}} {{/each}}
            </div>
        </div>

        <div class="col-xs-6 text-center" class="task" id="ate"
            {{#each burger_data}} {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly> {{/if}} {{/each}}
        </div>
    </div>
</div>
<br>
<div class="container" id="submitBtn">
    <div class="row">
        <div class="col-xs-12 text-center enetr_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn light-green darken-2 waves-effect waves-light" id="text-enter-button">Submit</button>
            </form>
            <p>Enter in a burger you would like to eat!</p>
        </div>
    </div>
</div>